<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.menglei.family.account.dao.IUserDAO">
<!--
insert 单条插入

update 按ID更新一条
updateNull 按ID更新一条
updateMap  按ID更新一条
updateByCondition 按条件更新一批

deleteById 按ID删除
deleteByIdList 按id列表删除
deleteByCondition 按组合条件删除
deleteByProperty 按单一条件删除

findById 按ID查找
findByProperty 按单一条件查找一条记录
findListByProperty 按单一条件查询所有记录
findAll 无条件查询全部记录

queryPage 按组合条件分页查询
queryCount 按组合条件查询总数
queryLike 按组合条件模糊查询
queryList 按组合条件查询
queryOne 按组合条件查询一条
selectMaxId 返回表内最大id
-->

<sql id="Base_Column_List">
    `id` as `id` ,
    `user_name` as `userName` ,
    `password` as `password` ,
    `name` as `name` ,
    `sex` as `sex` ,
    `birthday` as `birthday` ,
    `telephone` as `telephone` ,
    `email` as `email` ,
    `description` as `description` ,
    `status` as `status` ,
    `creater` as `creater` ,
    `create_time` as `createTime` ,
    `update_time` as `updateTime` ,
    `updater` as `updater` ,
    `address` as `address`
</sql>

        <!-- 新增 -->
<insert id="insert" parameterType="User"   useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(
            user_name ,
            password ,
            name ,
            sex ,
            birthday ,
            telephone ,
            email ,
            description ,
            status ,
            creater ,
            create_time ,
            update_time ,
            updater ,
            address ,
        ) VALUES (
        #{user_name},
        #{password},
        #{name},
        #{sex},
        #{birthday},
        #{telephone},
        #{email},
        #{description},
        #{status},
        #{creater},
        #{create_time},
        #{update_time},
        #{updater},
        #{address}
        )
</insert>


        <!-- 更新 -->
<update id="update" parameterType="User">
    UPDATE user
    <trim prefix="SET" suffixOverrides=",">
        <if test="status!=null">
        status = #{status},
        </if>
        <if test="creater!=null">
        creater = #{creater},
        </if>
        <if test="createTime!=null">
        create_time = #{createTime},
        </if>
        <if test="updater!=null">
            updater = #{updater},
        </if>
        <if test="updateTime!=null">
        update_time = #{updateTime},
        </if>
        <if test="userName!=null">
        user_name = #{userName},
        </if>
        <if test="password!=null">
            password = #{password},
        </if>
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="sex!=null">
        sex = #{sex},
        </if>
        <if test="birthday!=null">
            birthday = #{birthday},
        </if>
        <if test="telephone!=null">
            telephone = #{telephone},
        </if>
        <if test="email!=null">
            email = #{email},
        </if>
        <if test="address!=null">
        address = #{address},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
    </trim>
    WHERE
        id = #{id}
</update>


        <!-- 删除 -->
<delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM user
    <trim prefix="WHERE" prefixOverrides="AND | OR">
    AND id = #{id}
    </trim>
</delete>


        <!-- 查询 -->
<select id="findById" parameterType="java.lang.Long" resultType="User">
    SELECT
    <include refid="Base_Column_List" />
    FROM user
    <trim prefix="WHERE" prefixOverrides="AND | OR">
    AND id = #{id}
    </trim>
</select>


<select id="findAll" resultType="User">
    SELECT
    <include refid="Base_Column_List" />
    FROM user
    <if test="orderBy!=null">
        ORDER BY <foreach collection="orderBy" index="key" item="value" separator="," >${key} ${value}</foreach>
    </if>
</select>




<!--多条件查询一条数据-->
<select id="queryOne" parameterType="java.util.Map" resultType="User">
    SELECT

        <include refid="Base_Column_List" />

    FROM user
    <if test="condition!=null">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="condition.id!=null">
                AND id = #{condition.id}
            </if>
            <if test="condition.status!=null">
                AND
                status = #{condition.status},
            </if>
            <if test="condition.creater!=null">
                AND
                creater = #{condition.creater},
            </if>
            <if test="condition.createTime!=null">
                AND
                create_time = #{condition.createTime},
            </if>
            <if test="condition.updater!=null">
                AND
                updater = #{condition.updater},
            </if>
            <if test="condition.updateTime!=null">
                AND
                update_time = #{condition.updateTime},
            </if>
            <if test="condition.userName!=null">
                AND
                user_name = #{condition.userName},
            </if>
            <if test="condition.password!=null">
                AND
                password = #{condition.password},
            </if>
            <if test="condition.name!=null">
                AND
                name = #{condition.name},
            </if>
            <if test="condition.sex!=null">
                AND
                sex = #{condition.sex},
            </if>
            <if test="condition.birthday!=null">
                AND
                birthday = #{condition.birthday},
            </if>
            <if test="condition.telephone!=null">
                AND
                telephone = #{condition.telephone},
            </if>
            <if test="condition.email!=null">
                AND
                email = #{condition.email},
            </if>
            <if test="condition.address!=null">
                AND
                address = #{condition.address},
            </if>
            <if test="condition.description!=null">
                AND
                description = #{condition.description},
            </if>
        </trim>
    </if>
    limit 0,1
</select>

</mapper>
